 .App{
  max-width: 90%;
  color: white;
  /* background-image:url("https://cdn.mos.cms.futurecdn.net/T7zMwaRzZcoairb3Vew4HB.jpg") ; */
 }
body{
  background-image:url("https://cdn.mos.cms.futurecdn.net/T7zMwaRzZcoairb3Vew4HB.jpg") ;
}