/* Blog.css */

.blog-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: teal;
  border-radius: 10px;
  opacity: 0.7;
  padding-right: 20px;
  background-image: url('https://scitechdaily.com/images/Universe-Astronomy-Art-Concept.jpg');
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  margin-bottom: 20px;
}

/* Responsive Styles for Mobile */
@media (max-width: 480px) {
  .blog-container {
      padding: 10px; /* Reduce padding for mobile screens */
  }

  input[type="text"] {
      width: 80%; /* Adjust input width for mobile screens */
      padding: 15px; /* Increase padding for height */
  }

  input[type="file"] + label {
      padding: 15px 20px; /* Increase padding for height */
  }

  .image-preview img {
      transform: none; /* Remove the hover scaling effect on mobile */
  }
}

/* Responsive Styles for Tablet */
@media (max-width: 768px) {
  input[type="text"] {
      width: 90%; /* Adjust input width for tablet screens */
  }
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  background-color: #88ac7d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

input[type="file"] + label:hover {
  background-color: #202223;
}

.image-preview {
  margin-top: 20px;
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.image-preview img:hover {
  transform: scale(1.1);
}

.submit-button {
  background-color: teal;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: #1e1f20;
}
