/* Blog.css */

.blog-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: teal;
    border-radius: 10px;
    opacity: 0.7;
    padding-right: 20px;
    background-image: url('https://scitechdaily.com/images/Universe-Astronomy-Art-Concept.jpg');
  }
 
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;
   
  }
 
  /* Blog.css */

/* ... (previous styles) ... */

input[type="text"] {
    width: 50%;
    padding: 15px; /* Increase the padding for height */
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
  
  input[type="file"] + label {
    /* ... (previous styles) ... */
    padding: 15px 20px; /* Increase the padding for height */
  }
  
  /* ... (remaining styles) ... */
  
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
  
  input[type="file"] {
    display: none;
  }
  
  input[type="file"] + label {
    background-color: #88ac7d;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  input[type="file"] + label:hover {
    background-color: #202223;
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .image-preview img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .image-preview img:hover {
    transform: scale(1.1);
  }
  
  .submit-button {
    background-color:teal;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .submit-button:hover {
    background-color: #1e1f20;
  }
  