.registration-container{
max-width: 50%;

display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-top:200px ;
width: 400px;
height: 400px;
border: 2px solid green;
background-color: teal;
opacity: 0.7;
border-radius: 20px;

}

.registration-container form input {
  border-radius: 7px;
  font-weight: 300;
  border-color: black;
}
.registration-container form button{
  margin-left: 10px;

}.registration-container h2{
  margin-top: 10px;
}
.om{
  margin-top: 15px;
  margin-right: 25px;

padding-left: 2px;

}
@media (min-width: 768px) and (max-width: 1024px) {
  .registration-container {
    background-color: red;
    border: 2px solid red;
    opacity: 0.7;

  }
}

/* For larger tablets and desktops */
@media (min-width: 150px) and (max-width: 768px) {
  
  .registration-container {
    max-width: 60%;
    padding-left: 20px;
    object-fit: contain;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwy8dkM3vpH9iL6fuN6GDGM9IL1q_BdGdzvgP0yDd-&s');

  }
  .registration-container form {
    max-width: 100%;
  }
  .registration-container form  input{
    max-width: 80%;
  }
  .registration-container form  label{
    max-width: 80%;
  }
  .registration-container form  button{
    max-width:100% ;
   
  }
  .registration-container form  h2{
    max-width: 100%;
  }
  .om{
    width: 100%;
    display: flex;
    max-width:100%;
   margin-right: 40px;
   



  }
  .om button{
    display: block;
    max-width:50%;
    margin-right: 20px;
    opacity: 0.4;
    
  }
}


